<div nz-row [nzGutter]="16">
  <div nz-col class="gutter-row" [nzSpan]="24">
    <h2>Users (<a (click)="addNewUser()">Add New</a>)</h2>
    <br />
    <br />
    <nz-table
      class="unlock-table"
      #ajaxTable
      nzShowSizeChanger
      [nzFrontPagination]="false"
      [nzData]="listOfData"
      [nzLoading]="loading"
      [nzTotal]="total"
      [(nzPageIndex)]="pageStart"
      [(nzPageSize)]="limit"
      (nzPageIndexChange)="getAll(true)"
      [nzNoResult]="contentTpl"
      [nzShowSizeChanger]="false"
    >
      <ng-template #contentTpl>
        <nz-empty [nzNotFoundContent]="'No record found.'"></nz-empty>
      </ng-template>
      <thead>
        <tr>
          <th>#</th>
          <th>Username</th>
          <th>Display Name</th>
          <th>Role</th>
          <th>Images</th>

          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of ajaxTable.data; let i = index">
          <td>
            <div></div>
            <div *ngIf="pageStart === 1">{{ i + 1 }}</div>
            <div *ngIf="pageStart > 1">
              {{ (pageStart - 1) * limit + 1 + i }}
            </div>
          </td>
          <td>{{ data.username }}</td>
          <td>{{ data.display_name }}</td>
          <td>{{ data.role }}</td>
          <td>
            <button nz-button nzType="primary">
              <!-- [routerLink]="'listing-' + data.id" -->

              show images
            </button>
          </td>
          <td>
            <button (click)="openEditModal(data)" nz-button nzType="secondary">
              <!-- [routerLink]="'listing-' + data.id" -->

              edit
            </button>
          </td>
          <td>
            <a
              *ngIf="data.role === 'User'"
              nz-popconfirm
              nzPopconfirmTitle="Are you sure you want to delete?"
              (nzOnConfirm)="deleteRow(data)"
              nzPopconfirmPlacement="bottom"
              >Delete</a
            >
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>

<nz-modal
  [(nzVisible)]="isVisible"
  [nzOkLoading]="saveLoading"
  nzTitle="Update User"
  (nzOnCancel)="cancelModal()"
  (nzOnOk)="okModal()"
>
  <form [formGroup]="editForm">
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="username"
        >Username</nz-form-label
      >
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <input nz-input formControlName="username" id="username" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="display_name"
        >Display Name</nz-form-label
      >
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <input nz-input formControlName="display_name" id="display_name" />
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-modal>

<nz-modal
  [(nzVisible)]="isVisibleAddNew"
  [nzOkLoading]="addLoading"
  nzTitle="Add User"
  (nzOnCancel)="cancelAddNewModal()"
  (nzOnOk)="okAddNewModal()"
>
  <form [formGroup]="addForm">
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="username"
        >Username</nz-form-label
      >
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <input
          nz-input
          [class.input-error]="
            addForm?.controls['username'].errors &&
            addForm?.controls['username'].dirty
          "
          formControlName="username"
          id="username"
          #username
        />
        <div *ngIf="username?.errors?.minLength">minimum 6 characters.</div>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="display_name"
        >Display Name</nz-form-label
      >
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <input nz-input formControlName="display_name" id="display_name" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="password"
        >Password</nz-form-label
      >
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <input
          nz-input
          type="password"
          [class.input-error]="
            addForm?.controls['password'].errors &&
            addForm?.controls['password'].dirty
          "
          formControlName="password"
          id="password"
        />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="confirm_password"
        >Confirm Password</nz-form-label
      >
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <input
          nz-input
          type="password"
          [class.input-error]="
            addForm?.controls['confirm_password'].errors &&
            addForm?.controls['confirm_password'].dirty
          "
          formControlName="confirm_password"
          id="confirm_password"
        />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="role"
        >Role</nz-form-label
      >
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <nz-select formControlName="role">
          <nz-option nzValue="User" nzLabel="User"></nz-option>
          <nz-option nzValue="Admin" nzLabel="Admin"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <br />
    <br />
    <!-- <nz-form-item nz-row class="register-area">
      <nz-form-control [nzSpan]="14" [nzOffset]="6">
        <button nz-button nzType="primary">Register</button>
      </nz-form-control>
    </nz-form-item> -->
  </form>
</nz-modal>
