<div class="container" *ngIf="images.length">
  <div class="flex flex-wrap -mx-1 lg:-mx-4">
    <div class="px-3 py-3 pr-0">
      <div class="max-w-xsm gridview rounded overflow-hidden shadow-lg">
        <label>
          <div class="cdk-drop-list-temp uploader">
            <input
              type="file"
              #inputFile
              multiple
              accept="image/*"
              style="display: none"
              (change)="onFileChangedMultiple($event)"
            />
            <i nz-icon nzType="picture" nzTheme="outline"></i>
            <p>Upload</p>
          </div>
        </label>
      </div>
    </div>
    <div *ngFor="let item of images; let i = index">
      <div (click)="showGallery(i)">
        <shared-image-card [imageInfo]="item"> </shared-image-card>
      </div>
    </div>
  </div>
</div>
<div *ngIf="loading && !images.length">
  <div
    *ngFor="let item of skeletonItems; let i = index"
    class="max-w-sm w-full mt-2 mb-2 lg:max-w-full lg:flex"
  >
    <nz-skeleton [nzActive]="true"></nz-skeleton>
  </div>
</div>

<div nz-row [nzGutter]="16" *ngIf="!loading && !images.length">
  <div nz-col class="gutter-row" [nzSpan]="4"></div>
  <div nz-col class="gutter-row" [nzSpan]="16">
    <br />
    <br />
    <nz-result
      [nzIcon]="'smile-twotone'"
      [nzTitle]="
        'Welcome to Tasky! We are excited to have you here. It looks like you have not added any images.'
      "
    >
      <div nz-result-extra>
        <div class="boxy incomplete">
          <label class="fileContainer">
            <a>Add Image(s)</a>

            <input
              type="file"
              #inputFile
              multiple
              accept="image/*"
              style="display: none"
              (change)="onFileChangedMultiple($event)"
            />

            <button
              *ngIf="file"
              type="button"
              (click)="uploadFile()"
              class="btn btn-green"
            >
              UPLOAD !!
            </button>

            <!-- <i nz-icon nzType="upload" nzTheme="outline"></i> -->
          </label>
        </div>
      </div>
    </nz-result>
  </div>
  <div nz-col class="gutter-row" [nzSpan]="4"></div>
</div>

<nz-modal
  [(nzVisible)]="isVisible"
  [nzOkLoading]="okloading"
  nzTitle="Add User"
  [nzWidth]="820"
  [nzOkText]="'Upload'"
  (nzOnCancel)="cancel()"
  (nzOnOk)="ok()"
>
  <div class="example-container">
    <div cdkDropList *ngFor="let item of items; let i = index">
      <div [class.active]="item.display" class="example-box">
        <i
          nz-icon
          nzType="delete"
          nzTheme="outline"
          (click)="removeImage(i)"
          theme="outline"
        ></i>

        <label>
          <input
            type="file"
            style="display: none"
            (change)="onFileChangedOneOfMany($event, item)"
          />
          <img [src]="item?.src" />
        </label>
      </div>
    </div>
    <div
      class="cdk-drop-list uploader"
      *ngIf="items?.length > 0 && items?.length < 5"
    >
      <label>
        <input
          type="file"
          multiple=""
          accept="image/*"
          style="display: none"
          (change)="onFileChangedMultiple($event)"
        />
        <i nz-icon nzType="picture" nzTheme="outline"></i>
        <p>Add more</p>
      </label>
    </div>
  </div>
</nz-modal>

<nz-modal
  [(nzVisible)]="isVisibleGallery"
  nzTitle="Gallery"
  [nzWidth]="720"
  (nzOnCancel)="cancelGallery()"
  [nzFooter]="null"
>
  <shared-gallery-images
    *ngIf="isVisibleGallery"
    [imagesList]="images"
    [imageIndex]="imageIndex"
  ></shared-gallery-images>
</nz-modal>
