.books-container {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
}

.status-select {
  min-width: 300px;
}

.display-flex {
  flex-direction: row;
  float: right;
  display: flex;

  .flex-item {
    padding: 5px;
  }
}

///////////////////


.custom-radio-box {
  display: flex;
  width: 100%;
  justify-content: space-around;

  .radio-box {
    display: flex;
    flex-direction: column;
    align-items: center;

    small {
      margin-top: 5px;
      font-size: 13px;
      font-family: Archivo Narrow, sans-serif;
      font-weight: 700;
    }
  }
}

.custom-radio-box label {
  height: inherit;
  background: transparent;
  padding: 0px;
  margin: 0px 10px;
  border-radius: 90px !important;
  border-width: 3px 3px 3px 3px !important;
  box-shadow: none;
  border: 3px solid #d9d9d9;
  width: max-content;
}

.custom-radio-box label img {
  width: 80px;
}

.ant-radio-button-wrapper:not(:first-child)::before {
  position: absolute;
  top: 0;
  left: -1px;
  display: block;
  width: 0px;
  height: 100%;
  background-color: #d9d9d9;
  content: '';
}

.grid-container {
  display: flex;
  // height: 337px;
  margin-bottom: 7px;
}

.grid-container>div {
  flex: 1;
  flex-wrap: wrap;
}

.grid-container img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

.grid-container>div {
  flex: 1;
  flex-wrap: wrap;
}

.small-thumbs {
  display: flex;
}

.small-thumbs>div {
  outline: 1px solid #e8e8e8;
  flex: 33.33%;
  align-items: center;
  justify-content: center;
}

.small-thumbs>div img {
  height: 163px;
  object-fit: cover;
}


.example-list {
  list-style-type: none;
  padding: 0;
}

.example-list li {
  display: table-cell;
  padding: 4px;
}

.example-container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  margin-left: -4px;
}

.example-box {
  font-weight: bold;
  color: rgba(0, 0, 0, 0.87);
  cursor: move;
  justify-content: center;
  align-items: center;
  background: #fff;
  position: relative;
  z-index: 1;
  outline: 1px solid #ddd;
}

.example-box:active {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
  opacity: .6;
}

.cdk-drop-list {
  max-width: 25%;
  margin: 4px;
}

.item1 {
  outline: 1px dashed #e8e8e8;
  position: relative;
  background: #fff;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: .3;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}


.example-handle {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #fff;
  cursor: move;
  padding: 2px;
  width: 28px;
  height: 28px;
  background: #6d6a6a9e;
  border-radius: 5px;
}

.example-box img {
  max-width: 100%;
  height: 200px;
  -o-object-fit: cover;
  object-fit: cover;
  width: 225px;
}

.example-box i,
.item1 i {
  position: absolute;
  right: 8px;
  top: 10px;
  font-size: 22px;
  color: #fff;
  cursor: pointer;
  padding: 2px;
  width: 28px;
  height: 28px;
  background: rgba(68, 65, 65, 0.78);
  border-radius: 5px;
  display: none;
}

.example-box i:hover,
.item1 i:hover {
  color: red;
}

.example-box:hover i,
.item1:hover i {
  display: block;
  z-index: 9999;
}



.boxes {
  width: 100%;
  height: 344px;
  overflow: hidden;
}

.box:first-child {
  height: 336px;
  background: black;
  color: #fff;
  width: 50%;
  left: 0px;
  float: left;
}

.box:first-child .example-box img {
  height: 336px;
  max-width: 100%;
  object-fit: cover;
}

.box {
  height: 168px;
  margin-right: 0px;
  text-align: center;
  width: 16.66%;
  margin-bottom: 0px;
  float: left;
}

.cdk-drop-list.uploader {
  width: 225px;
  height: 200px;
  border: 2px dashed #ddd;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer !important;
}

.cdk-drop-list.uploader i {
  font-size: 57px;
  color: #d6d6d6;
}

.cdk-drop-list.uploader p {
  font-size: 19px;
  margin: 7px 0px;
  font-family: Archivo Narrow, sans-serif;
  color: #d6d6d6;
}

.cdk-drop-list.uploader:hover {
  background: #fbfbfb;
}

.cover-photo {
  position: absolute;
  bottom: 0;
  padding: 8px 6px;
  background-color: rgba(71, 192, 187, 0.62);
  width: 100%;
  text-align: center;
  border-radius: 0px;
  cursor: pointer;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  display: none;
  font-family: Archivo Narrow, sans-serif;
}

.cover-photo i {
  display: block !important;
  background: transparent !important;
  position: inherit !important;
  left: 15px;
  top: 9px !important;
  font-size: 18px !important;
}

.example-box:hover .cover-photo {
  display: block;
}

.cover-photo:hover {
  background-color: #47c0bb;
}

.example-box.active .cover-photo {
  background-color: #47c0bb;
  display: block !important;
}

.example-box.active {
  outline: 3px solid #47c0bb;
  outline-offset: -2px;
}
